[build-system]
requires = ["uv-build"]
build-backend = "uv_build"

[project]
name = "{{ project_slug }}"
version = "0.1.0"
description = "{{ project_description }}"
authors = [
    { name = "{{ author_name }}", email = "{{ author_email }}" }
]
requires-python = "=={{ python_version }}.*"
dependencies = [
    "pydantic",
    "python-dotenv",
]

[dependency-groups]
dev = [
    "basedpyright",
    "prek",
    "pytest",
    "pytest-cov",
    "pytest-sugar",
    "ruff",
]

[tool.ruff]
target-version = "py{{ python_version.replace('.', '') }}"

[tool.basedpyright]
pythonVersion = "{{ python_version }}"
reportReturnType = true
typeCheckingMode = "recommended"
exclude = [".venv/**", "tests/**"]

[tool.pytest.ini_options]
pythonpath = ["src"]
testpaths = ["tests"]
addopts = "--tb=short --import-mode=importlib"

[tool.isort]
profile = "black"
