[build-system]
requires = ["uv-build"]
build-backend = "uv_build"

[project]
name = "{{ project_slug }}"
version = "0.1.0"
description = "{{ project_description }}"
authors = [
    { name = "{{ author_name }}", email = "{{ author_email }}" }
]
requires-python = "{{ python_version }}"
dependencies = [
    "pydantic",
    "python-dotenv",
]

[dependency-groups]
dev = [
    "black",
    "mypy",
    "pre-commit",
    "pytest",
    "pytest-cov",
    "ruff",
]

[tool.ruff]
target-version = "py{{ python_version.split(',')[0].replace('>=', '').replace('.', '') }}"

[tool.mypy]
python_version = "{{ python_version.split(',')[0].replace('>=', '') }}"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = true

[[tool.mypy.overrides]]
module = "tests.*"
disallow_untyped_defs = false

[tool.pytest.ini_options]
pythonpath = ["src"]
testpaths = ["tests"]
addopts = "--tb=short --import-mode=importlib"

[tool.isort]
profile = "black"
